.full-width {
    width: 100%;
  }

  .half-width {
    display: inline-block; width: 50%; white-space: normal; 
  }

  .mat-dialog-content {
    display: block;
    margin: 0 -24px;
    padding: 0 24px;
    overflow: auto;
    max-height: 800px;
}

.mat-form-field {
    display: inline-block;
    text-align: left;
    width: 94%;
}